body{
    background-color: greenyellow;
    text-align: center;
}

input{
    width: 90%;
    height: 30px;
    color:blue;
    border: 3px solid blue;
    padding-left: 10px;
}

button{
    font-size: 20px;
    background-color:skyblue;
    border: 3px solid blue;
    border-radius: 10px;
}

h5{
    color: blue;
    font-size: 20px;
}